{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BTC and ETH YEAR TO DATE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block body %}

<div class="main" id="test">
    <h1>{{ day }}</h1>
    <h2>Bitcoin </h2>
    <h3>{{ btc_open_p }}</h3>
    <h3>{{ btc_now }}</h3>
    <h3>{{ btc_up_down}}</h3>
    
    <h2>Ethereum</h2>
    <h3>{{ eth_open_p }}</h3>
    <h3>{{ eth_now }}</h3>
    <h3>{{ eth_up_down}}</h3>
    
    <p> 
    <a href="https://github.com/MykCib/Crypto_Flask_App" class="fa fa-github" style="font-size:36px"></a>
    <a href="https://twitter.com/24hour_tracker" class="fa fa-twitter" style="font-size:36px"></a>
    </p>
    
    <p class="last">Last updated: {{ updated }}</p>
    
</div>

{% endblock %}
